@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Menda', 'Outfit', sans-serif;
  overflow-x: hidden;
}

.text-glow {
  text-shadow: 0 0 20px rgba(237, 8, 7, 0.5);
}

.bg-glow-blue {
  background: radial-gradient(circle at center, rgba(1, 0, 102, 0.15) 0%, rgba(3, 3, 8, 0) 70%);
}

.bg-glow-red {
  background: radial-gradient(circle at center, rgba(237, 8, 7, 0.1) 0%, rgba(3, 3, 8, 0) 70%);
}